<div class="input-div">
    <div>
        <label>Enter Matrix size:&nbsp;</label>
        <label>No of Rows:&nbsp;</label>
        <input type="number" [(ngModel)]="matrix.rowCount" (input)="onMatrixSizeChange()" class="number-input">
        <label>No of Columns:&nbsp;</label>
        <input type="number" [(ngModel)]="matrix.colCount" (input)="onMatrixSizeChange()" class="number-input">
        <hr>
        <ng-container>
            <div *ngFor="let row of matrix.elements; index as rowidx">
                <div *ngFor="let col of row; index as colidx" class="col-div">
                    <input type="number" [(ngModel)]="matrix.elements[rowidx][colidx]" class="number-input">
                </div>
            </div>
        </ng-container>
        <div class="submit-div"><button (click)="computeEchelon()">Compute Echelon</button></div>

        <div>
            {{ matrix.elements | json }}
        </div>
    </div>
</div>

<hr *ngIf="showOutputDiv">

<div class="output-div" *ngIf="showOutputDiv">
    <!-- <button style="float: right;">Delete output <i class="material-icons">delete</i></button> -->
    <ng-container *ngFor="let currMatrix of outputMatrices; index as matrixidx" >
        <div style="display: inline-block;">
            <div *ngFor="let row of currMatrix.elements; index as rowidx">
                <div *ngFor="let col of row; index as colidx" class="col-div">
                    <input type="number" [(ngModel)]="currMatrix.elements[rowidx][colidx]" class="number-input">
                </div>
                <div style="display: inline-block;" *ngIf="matrixidx != outputMatrices.length-1 && rowidx == float2int(currMatrix.elements.length/2)">
                    <div>-----------></div>
                </div>
            </div>
        </div>
    </ng-container>
</div>