.nav-bar {
    background-color: rgb(25,118,210);
    color: white;
    padding: 10px;
    border-radius: 5px;;
}

.nav-bar-button {
    color: white;
    background-color: rgb(25,118,210);
    border: unset;
}

.child-comp {
    border-radius: 5px;;
    border-style: solid;
    border-color: rgb(25,118,210);
    border-width: 5px;
    padding: 20px 0;
    padding-left: 5%;
    margin: 5px 0;
}